<div class="container-fluid general">
  <nav class="navbar navbar-default">
    <div class="container align-nav">
      <div class="logo-nav pull-left">
        <img src="../../../assets/logo.png" alt="Logo">
      </div>
      <div class="nav-txt pull-left">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
      </div>
    </div>
  </nav>
</div>
